@using Microsoft.JSInterop
@inject IJSRuntime _jsRuntime

<div id="@Id" class="@_cssStyle"></div>

<button onclick="@(() => OnButtonClicked())">Show World</button>
<CascadingValue Value="this">
@this.Layers
</CascadingValue>