@using Microsoft.AspNetCore.Components.Web
@namespace Soatech.Blazor.Leaflet.Samples.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            crossorigin=""></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="_content/Soatech.Blazor.Leaflet/leaflet-beautify-marker-icon.css" />
    <script src="_content/Soatech.Blazor.Leaflet/leaflet-beautify-marker-icon.js"></script>
    <link rel="stylesheet" href="_content/Soatech.Blazor.Leaflet/soatech.blazor.leaflet.css" />    
    <link href="css/site.css" rel="stylesheet" />
    <link href="Soatech.Blazor.Leaflet.Samples.styles.css" rel="stylesheet" />  
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    
    <script src="_content/Soatech.Blazor.Leaflet/leafletBlazorInterops.js"></script>
    <script src="_content/Soatech.Blazor.Leaflet/soatech.blazor.leaflet.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
